RedirectMatch 404 /\.git
RedirectMatch 404 /\.gitignore

RewriteEngine On
RewriteCond {REQUEST_FILENAME} !-f
RewriteCond {REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI}% !^/static/
RewriteRule . index.html [L]
