body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    background-color: #444;
    color: whitesmoke;
    padding: 0 10px;
  background-attachment: fixed;
  background-position: center; 
}

h1, h2, h3 {
    line-height: 1.2
}

a:link {
    color: lightblue;
}

a:hover {
    color: skyblue;
}

a:visited {
    color: lightgrey;
}

table {
  text-align:center;
  width: 100%;
}

@media screen and (prefers-color-scheme: light) {
    body {
        color: #444;
        background-color: whitesmoke;
    }

    a:link {
        color: darkblue;
    }

    a:hover {
        color: skyblue;
    }

    a:visited {
        color: darkgrey;
    }
}
