:root {
	--menu: #7F9172;
	--menu-accent: #567568;
	--menu-hover: #B49594;
	--body-accent: #C9B1BD;
	--background: #D5DFE5;
	--menu-text: #D0D0D0;
	--body-text: #567568;
}

img.profile {
	border-radius: 50%;
}

body {
	margin: 0;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: var(--background);
	color: var(--body-text);
}

a:link {
	color: lightblue;
}

a:hover {
	color: skyblue;
}

p.menuitem,
a.menuitem,
button.menuitem {
	color: var(--menu-text);
	font-size: 1em;
	text-decoration-line: none;
}

.menuitem {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5em;
	background: var(--menu-accent);
	border: none;
	border-radius: 20pt;
	margin: 0.5em;
	padding-inline: 0.85em;
	transition: 0.3s;
}

path {
	fill: var(--menu-text);
}

.menuitem:hover {
	background-color: var(--menu-hover);
}

.container {
	padding: 2em;
}

.menu {
	display: flex;
	justify-content: space-between;
	background-color: var(--menu);
	padding: 1em;
}
